body {
  margin: 0%;
}
footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.conteiner {
  display: flex; /* מניח את העמודות (דיב) אחד ליד השני */
  flex-direction: row; /* לא עושה כלום כרגע,כי זה הדיפולט, אבל אם הייתי רוצה לבטל את הפקודה למעלה הייתי שם קולום */
  background-color: black;
  justify-content: center; /* ממרכז לרוחב */
  align-items: center; /* ממרכז לאורך */
  height: 300px;
  gap: 15%;
}

/*
.conteiner div {
  margin: auto; /* מרווחים בין העמודות דיב לדיב
} */

p {
  margin-bottom: 0px;
  color: white;
  text-transform: capitalize;
}

#box {
  height: 3px;
  margin: 5px 0px;
  background-color: red;
}

.div-column {
  width: 119.7px;
  height: 132px;
}

.div-column div {
  margin-top: 10px;
}

a {
  color: gray;
  text-decoration: none;
  text-transform: capitalize;
}

img {
  width: 26px;
  border-radius: 100%;
  margin: 25px 0px;
}

/*

ליישר את הדיב לפי הדיב הגדול ביותר



*/

/*
למה אי אפשר לעשות על A
מרגין ל קו האדום
*/
